*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

body{
    font-family: 'Open Sans', 'sans-serif';
    background: #e6e6e6;
}

.container{
    margin-left: 10px;
    margin-right:10px;
}
.container .card{
    margin-top: 11px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);

}

.container .card .image-card img{
    width: 100%;
}
.container .card h4{
    text-transform: uppercase;
    font-size: 15px;
}
.container .card h4 span{
    color: #999999;
    font-size: 12px;
}
.container .card .content-card{
    padding: 9px 8px 30px 10px;
}
.container .card .content-card .title{
    margin-top: 10px;
}
.container .card .content-card .title a{
    text-decoration: none;
    color: #b5000d;
    font-size:16px;
}
.container .card .content-card p{
    color: #333;
    margin-top: 10px;
}
